.tab{
  position:fixed;
/*   padding:5px; */
  background-color:red;
  color:white;
}

.tab h2{
  display:inline-block;
  float:left;
  padding:14px;
  margin:5px;
}
.tab button{
  display:inline-block;
}
