.tab{
  position:fixed;
/*   padding:5px; */
  background-color:red;
  top:0;
  left:0;
  color:white;
}

.tab#title{
  display:inline-block;
  float:left;
/*   padding:14px; */
  margin-top:7px;
}
.tab button{
  display:inline-block;
  color:white;
  font-weight:bold;
}
