.tab{
  position:fixed;
/*   padding:5px; */
  background-color:darkslategray;
  top:0;
  left:0;
  color:red;
  width:100%;
}

.tab #title{
  display:inline-block;
  float:left;
  font-size:25px;
  font-weight:bold;
/*   padding:14px; */
  margin-top:7px;
  padding:0px 16px;
}
h1{
  color:red;
}
.tab button{
  display:inline-block;
  color:red;
  font-weight:bold;
/*   float:right; */
}
